
// Core variables and mixins
@import "./bower_components/bootstrap/less/variables.less";
@import "./bower_components/bootstrap/less/mixins.less";

// Reset and dependencies
@import "./bower_components/bootstrap/less/normalize.less";
@import "./bower_components/bootstrap/less/print.less";
@import "./bower_components/bootstrap/less/glyphicons.less";

// Core CSS
@import "./bower_components/bootstrap/less/scaffolding.less";
@import "./bower_components/bootstrap/less/type.less";
@import "./bower_components/bootstrap/less/grid.less";
@import "./bower_components/bootstrap/less/tables.less";
@import "./bower_components/bootstrap/less/forms.less";
@import "./bower_components/bootstrap/less/buttons.less";

// Components
@import "./bower_components/bootstrap/less/component-animations.less";
@import "./bower_components/bootstrap/less/dropdowns.less";
@import "./bower_components/bootstrap/less/button-groups.less";
@import "./bower_components/bootstrap/less/input-groups.less";
@import "./bower_components/bootstrap/less/navs.less";
@import "./bower_components/bootstrap/less/navbar.less";
@import "./bower_components/bootstrap/less/breadcrumbs.less";
@import "./bower_components/bootstrap/less/pagination.less";
@import "./bower_components/bootstrap/less/pager.less";
@import "./bower_components/bootstrap/less/labels.less";
@import "./bower_components/bootstrap/less/badges.less";
@import "./bower_components/bootstrap/less/thumbnails.less";
@import "./bower_components/bootstrap/less/alerts.less";
@import "./bower_components/bootstrap/less/progress-bars.less";
@import "./bower_components/bootstrap/less/media.less";
@import "./bower_components/bootstrap/less/list-group.less";
@import "./bower_components/bootstrap/less/panels.less";
@import "./bower_components/bootstrap/less/responsive-embed.less";
@import "./bower_components/bootstrap/less/wells.less";
@import "./bower_components/bootstrap/less/close.less";

// Components w/ JavaScript
@import "./bower_components/bootstrap/less/modals.less";
@import "./bower_components/bootstrap/less/tooltip.less";
@import "./bower_components/bootstrap/less/popovers.less";
@import "./bower_components/bootstrap/less/carousel.less";

// Utility classes
@import "./bower_components/bootstrap/less/utilities.less";
@import "./bower_components/bootstrap/less/responsive-utilities.less";

@light-gray: #eeeee6;
@dark-gray: #333333;
@blue: #299ECB;
@white: #ffffff;
@black: #000000;
@red: #1E61E8;
@sidebar-width: 300px;

body {
  font-family: 'Oxygen', serif;
  background: @light-gray;
  color: @dark-gray;
  font-size: 20px;
  line-height: 1.5;
}

ul {
  padding: 0;
}

ol {
  padding-left: 20px;
}

ul li {
  list-style: none;
}

a {
  color: @blue;
}

.navbar {
}


.navbar-toggle {
  border: 1px solid @dark-gray;
  position: fixed;
  right: -4px;
  top: 40%;
  display: block;
  background: @dark-gray;
  margin-right: 2px;
  .icon-bar {
    & + .icon-bar {
      margin: 0 0 0 4px;
    }
    float: left;
    height: 22px;
    width: 2px;
    background: @white;
  }
}

h1 {
  font-size: 24px;
  letter-spacing: 2px;
  line-height: 46px;
  margin: 0;
  text-align: center;
  color:@white;
  small {
    display: block;
  }
}

#history {
}

sidebar {
  position: fixed;
  right: -@sidebar-width;
  width: @sidebar-width;
  top: 0;
  bottom: 0;
  padding: 20px 14px;
  background: @dark-gray;
  box-sizing: border-box;
  min-height: 500px;
  #history {
    margin: 100px 0;
    h4 {
      color: @light-gray;
      text-align: center;
      display: block;
      margin-bottom: 20px;
      border-bottom: 1px dotted @white;
    }
    li {
      padding: 0 10px 10px;
      color: @white;
      text-align: right;
      .meta {
        color: @white;
        text-align: center;
        font-size: 12px;
        color: @light-gray;
        opacity: 1;
        transition: .2s opacity;
      }
      &:hover .meta {
        opacity: 1;
      }
      h3 {
        margin: 0;
        font-size: 16px;
      }
      a:hover {
        text-decoration: none;
      }
      .date {
        opacity: 0;
      }
      &:hover .date {
        opacity: 1;
      }
    }
  }
  #bio {
    left: 14px;
    right: 14px;
    bottom: 20px;
    position: absolute;
    color: @white;
    padding: 10px;
    border: 1px dotted @light-gray;
    color: #999;
    p {
      float: right;
      font-size: 20px;
      line-height: 16px;
      a {
        display: inline-block;
        padding: 0 3px;
      }
    }
    h2 {
      font-size: 18px;
      margin: 0 0 10px;
      color: @white;
    }
  }
}

body.sidebar-in {
  position: absolute;
  right: @sidebar-width;
  left: -@sidebar-width;
  .navbar-toggle {
    right: @sidebar-width - 4;
  }
  sidebar {
    right: 0;
    overflow-y: auto;
  }
}

#post {
  .content {
    margin-right: 40px;
    p {
      margin-bottom: 20px;
      font-size: 16px;
      line-height: 1.3em;
    }
    h2 {
      margin-bottom: 30px;
    }
  }
}

@media (min-width: @screen-sm-min) {
  .navbar-toggle {
    display: none;
  }
  #posts li {
    padding-left: 30px;
  }
  sidebar {
    right: 0;
  }
  #post {
    & > .content {
      margin-right: @sidebar-width;
    }
  }
}

#post {

.CodeRay {
  background-color: #FFF;
  border: 1px solid #CCC;
  font-family: Monaco, "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
  font-size: 14px;
  color: #000;
  padding: 1em 0px 1em 1em;
}

.CodeRay pre {
  margin: 0px;
}

div.CodeRay { }
span.CodeRay { white-space: pre; border: 0px; padding: 2px }

table.CodeRay { border-collapse: collapse; width: 100%; padding: 2px }
table.CodeRay td {
  padding: 1em 0.5em;
  vertical-align: top;
}

.CodeRay .line-numbers, .CodeRay .no {
  background-color: #ECECEC;
  color: #AAA;
  text-align: right;
}

.CodeRay .line-numbers a {
  color: #AAA;
}

.CodeRay .line-numbers tt { font-weight: bold }
.CodeRay .line-numbers .highlighted { color: red }
.CodeRay .line { display: block; float: left; width: 100%; }
.CodeRay span.line-numbers { padding: 0px 4px }
.CodeRay .code { width: 100% }

ol.CodeRay { font-size: 10pt }
ol.CodeRay li { white-space: pre }

.CodeRay .code pre { overflow: auto }
.CodeRay .debug { color:white ! important; background:blue ! important; }

.CodeRay .annotation { color:#007 }
.CodeRay .attribute-name { color:#f08 }
.CodeRay .attribute-value { color:#700 }
.CodeRay .binary { color:#509; font-weight:bold }
.CodeRay .comment  { color:#998; font-style: italic;}
.CodeRay .char { color:#04D }
.CodeRay .char .content { color:#04D }
.CodeRay .char .delimiter { color:#039 }
.CodeRay .class { color:#458; font-weight:bold }
.CodeRay .complex { color:#A08; font-weight:bold }
.CodeRay .constant { color:teal; }
.CodeRay .color { color:#0A0 }
.CodeRay .class-variable { color:#369 }
.CodeRay .decorator { color:#B0B; }
.CodeRay .definition { color:#099; font-weight:bold }
.CodeRay .directive { color:#088; font-weight:bold }
.CodeRay .delimiter { color:black }
.CodeRay .doc { color:#970 }
.CodeRay .doctype { color:#34b }
.CodeRay .doc-string { color:#D42; font-weight:bold }
.CodeRay .escape  { color:#666; font-weight:bold }
.CodeRay .entity { color:#800; font-weight:bold }
.CodeRay .error { color:#F00; background-color:#FAA }
.CodeRay .exception { color:#C00; font-weight:bold }
.CodeRay .filename { color:#099; }
.CodeRay .function { color:#900; font-weight:bold }
.CodeRay .global-variable { color:teal; font-weight:bold }
.CodeRay .hex { color:#058; font-weight:bold }
.CodeRay .integer  { color:#099; }
.CodeRay .include { color:#B44; font-weight:bold }
.CodeRay .inline { color: black }
.CodeRay .inline .inline { background: #ccc }
.CodeRay .inline .inline .inline { background: #bbb }
.CodeRay .inline .inline-delimiter { color: #D14; }
.CodeRay .inline-delimiter { color: #D14; }
.CodeRay .important { color:#f00; }
.CodeRay .interpreted { color:#B2B; font-weight:bold }
.CodeRay .instance-variable { color:teal }
.CodeRay .label { color:#970; font-weight:bold }
.CodeRay .local-variable { color:#963 }
.CodeRay .octal { color:#40E; font-weight:bold }
.CodeRay .operator { }
.CodeRay .predefined-constant {  font-weight:bold }
.CodeRay .predefined { color:#369; font-weight:bold }
.CodeRay .preprocessor { color:#579; }
.CodeRay .pseudo-class { color:#00C; font-weight:bold }
.CodeRay .predefined-type { color:#074; font-weight:bold }
.CodeRay .reserved, .keyword  { color:#000; font-weight:bold }

.CodeRay .key { color: #808; }
.CodeRay .key .delimiter { color: #606; }
.CodeRay .key .char { color: #80f; }
.CodeRay .value { color: #088; }

.CodeRay .regexp { background-color:#fff0ff }
.CodeRay .regexp .content { color:#808 }
.CodeRay .regexp .delimiter { color:#404 }
.CodeRay .regexp .modifier { color:#C2C }
.CodeRay .regexp .function  { color:#404; font-weight: bold }

.CodeRay .string { color: #D20; }
.CodeRay .string .string { }
.CodeRay .string .string .string { background-color:#ffd0d0 }
.CodeRay .string .content { color: #D14; }
.CodeRay .string .char { color: #D14; }
.CodeRay .string .delimiter { color: #D14; }

.CodeRay .shell { color:#D14 }
.CodeRay .shell .content { }
.CodeRay .shell .delimiter { color:#D14 }

.CodeRay .symbol { color:#990073 }
.CodeRay .symbol .content { color:#A60 }
.CodeRay .symbol .delimiter { color:#630 }

.CodeRay .tag { color:#070 }
.CodeRay .tag-special { color:#D70; font-weight:bold }
.CodeRay .type { color:#339; font-weight:bold }
.CodeRay .variable  { color:#036 }

.CodeRay .insert { background: #afa; }
.CodeRay .delete { background: #faa; }
.CodeRay .change { color: #aaf; background: #007; }
.CodeRay .head { color: #f8f; background: #505 }

.CodeRay .insert .insert { color: #080; font-weight:bold }
.CodeRay .delete .delete { color: #800; font-weight:bold }
.CodeRay .change .change { color: #66f; }
.CodeRay .head .head { color: #f4f; }
}
