@import "../bower_components/bootstrap/less/bootstrap.less";
@import "../bower_components/bootstrap/less/glyphicons.less";
@import (css) "../rainbow.css";

@light-gray: #eeeee6;
@dark-gray: #333333;
@blue: #299ECB;
@white: #ffffff;
@black: #000000;
@red: #1E61E8;
@sidebar-width: 300px;

body {
  font-family: 'Oxygen', serif;
  background: @light-gray;
  color: @dark-gray;
  font-size: 18px;
}

ul {
  padding: 0;
}

ol {
  padding-left: 20px;
}

ul li {
  list-style: none;
}

a {
  color: @blue;
}

.navbar {
}


.navbar-toggle {
  border: 1px solid @dark-gray;
  position: fixed;
  right: -4px;
  top: 40%;
  display: block;
  background: @dark-gray;
  margin-right: 2px;
  .icon-bar {
    & + .icon-bar {
      margin: 0 0 0 4px;
    }
    float: left;
    height: 22px;
    width: 2px;
    background: @white;
  }
}

h1 {
  font-size: 24px;
  letter-spacing: 2px;
  line-height: 46px;
  margin: 0;
  text-align: center;
  color:@white;
  small {
    display: block;
  }
}

#history {
}

sidebar {
  position: fixed;
  right: -@sidebar-width;
  width: @sidebar-width;
  top: 0;
  bottom: 0;
  padding: 20px 14px;
  background: @dark-gray;
  box-sizing: border-box;
  min-height: 500px;
  #history {
    margin: 100px 0;
    h4 {
      color: @light-gray;
      text-align: center;
      display: block;
      margin-bottom: 20px;
      border-bottom: 1px dotted @white;
    }
    li {
      padding: 0 10px 10px;
      color: @white;
      text-align: right;
      .meta {
        color: @white;
        text-align: center;
        font-size: 12px;
        color: @light-gray;
        opacity: 1;
        transition: .2s opacity;
      }
      &:hover .meta {
        opacity: 1;
      }
      h3 {
        margin: 0;
        font-size: 16px;
      }
      a:hover {
        text-decoration: none;
      }
      .date {
        opacity: 0;
      }
      &:hover .date {
        opacity: 1;
      }
    }
  }
  #bio {
    left: 14px;
    right: 14px;
    bottom: 20px;
    position: absolute;
    color: @white;
    padding: 10px;
    border: 1px dotted @light-gray;
    color: #999;
    p {
      float: right;
      font-size: 20px;
      line-height: 16px;
      a {
        display: inline-block;
        padding: 0 3px;
      }
    }
    h2 {
      font-size: 18px;
      margin: 0 0 10px;
      color: @white;
    }
  }
}

body.sidebar-in {
  position: absolute;
  right: @sidebar-width;
  left: -@sidebar-width;
  .navbar-toggle {
    right: @sidebar-width - 4;
  }
  sidebar {
    right: 0;
    overflow-y: auto;
  }
}

#post {
  .content {
    margin-right: 40px;
    h2 {
      margin-bottom: 30px;
    }
  }
}

@media (min-width: @screen-sm-min) {
  .navbar-toggle {
    display: none;
  }
  #posts li {
    padding-left: 30px;
  }
  sidebar {
    right: 0;
  }
  #post {
    .content {
      margin-right: @sidebar-width;
    }
  }
}


